/**
 * Site header
 */
 
body {
	background: #FBF7E4;
}
 
#header { 
	 
	 background: #FBF7E4;
	 @media (min-width: $screen-lg) {
	 	position: fixed;
	 	width: 290px;
	 	height: 500px;
	 }
}

#main-logo {
	max-width: 200px;
	margin: 50px auto 20px;
	width: 100%;
}

#header-nav {
	/*border-top: 1px solid $border-color;*/
	padding-top: 12px;
	
	margin: 0 auto;
	
	@media (min-width: $screen-lg) {
		position: absolute;
		bottom: 15px;
		left: 30px;
		width: 220px;
	}
	@media (max-width: $screen-xs) {
		position: absolute;
		top: 0;
		right: 10px;
	}
	li {
		float: left;
		margin: 0 10px;
		font-size: 14px;
		color: $brand-color;
		&:last-child {
			margin-right: 0;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			float: none;
			text-align: center;
			margin: 0 0;
		}
	}
}

.glyphicon {
    color: black;
    padding: 5px;
}

/**
 * Site content
*/
.content a {
    /*text-transform: uppercase;*/
}

.content p {
	margin-bottom: 10px;
}
.content a:hover {
    text-decoration: none;
    color: $link-color; 
    .glyphicon{
        color: $link-color;
    }
}
.content {
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-left:1px solid $border-color;
    background: #fff;
    border-right: 1px solid $border-color;
}

#about {
    border-bottom:1px solid $border-color;
    padding-bottom: 10px;
    margin-top: 20px;
    p {
    	font-size: 18px;
    }
    @media (min-width: $screen-sm) {
    	margin-top: 100px;
    	p {
    		font-size: 22px;
    	}
    }
}
.back-button {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding-top: 40px;
}

/**
 * Site footer
 */

.footer {
    padding-top:10px;
}
.footer #contact {
    line-height: 170%;
    a {
        text-transform: inherit;
    }
    
}

/**
 * Page content
 */
.recent-posts {
    padding: 1px 15px 10px;
}
.recent-posts {

    .blog-title a {
        color: $link-color;
        text-transform: none;
    
        &:hover {
            color: $brand-color;
        }
    }
    .blog-title {
        font-size: 14px;
        font-family: $base-title-font;
        padding-right: 15px;
    }
}

.pages {
    margin-left: 0;
    li {
    	list-style: none;
    	margin-bottom: 15px;
    	margin-top: 10px;
    	padding-bottom: 15px;
    	padding-top: 10px;
    	border-bottom: 1px solid $border-color;
    	&:last-child {
    		border-bottom: none;
    	}
    	h3 {
    		color: lighten($brand-color, 0%);
    		font-family: $base-title-font;
    		margin-bottom: 5px;
    		font-size: 20px;
    		font-weight: bold;
    		a {
    			color: inherit;
    		}
    		small {
    			color: #D3CEAA;
    			font-weight: bold;
    			float: right;
    			margin-top: 4px;
    		}
    	}
    }
}

.pages-label {
	text-align: center;
	border-bottom: 1px solid $border-color;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	padding: 10px 0;
	font-size: 11px;
	color: #D3CEAA;
}

.page-content {
    padding: 0 0;
}

.page-heading {
    font-size: 20px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.blog-posts {
	margin-left: -15px;
	margin-right: -15px;
	li {
		list-style: none;
		.blog-title {
			color: $brand-color;
			font-family: $base-title-font;
			font-size: 22px;
			font-weight: 400;
			padding: 10px 15px;
			a {
				color: inherit;
				display: block;
				width: 100%;
				height: 100%;
			}
			small {
				padding-left: 5px;
				font-style: italic;
				font-family: $base-font-family;
			}
			&:hover {
				background: #FBF7E4;
			}
		}
	}
}

.blog-posts a {
    color: $brand-color; 
    text-transform: inherit;
}
.post-header {
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid $border-color;
}

.post-footer {
	margin-bottom: 25px;
	border-top: 1px solid $border-color;
	padding-top: 15px;
}

.post-title {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
	font-family: $base-title-font;
	color: darken($brand-color, 20%);
	font-weight: bold;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.breadcrumb a {
    text-transform: inherit;
    color: $brand-color;
}
.breadcrumb {
    background-color: inherit;
    
    margin-top: 20px;
    @media (min-width: $screen-sm-min) {
    	margin-bottom: 50px;
    }
}
.pil-list {
    list-style: none;
}
.pil-list a:hover {
    text-decoration: underline;
}
.pil-list li {
    padding-top: 30px;
}
.pil-title {
    color: #764200;
    font-size: 18px;
}

.pil-description {
    font-size: 16px;
}
.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }

    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 16px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }

    }
}
