---
layout: default
---

<div class="row">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="{{"/journal/" | prepend: site.baseurl }}">Journal</a></li>
		<li class="active hidden-xs hidden-sm">{{ page.title }}</li>
	</ol>
</div>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  
  <footer class="post-footer">
  	 To discuss this post leave a comment to our <a href="http://">Facebook page</a>.
  </footer>
	
</article>
